<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-body">
			<button type="button" class="close" data-dismiss="modal"><span>×</span></button>

		<%= form_for(@user, url: "/users/#{@user.id}/attendances/edit_request", method: :patch) do |f| %>
		<% header_user_id = nil %>
		<% @edit_requests.each do |req| %>
      <% if header_user_id != req.user_id %>
      <% header_user_id = req.user_id %>
      
			<table class = "table-bordered table-striped table-condensed">
			  <h4 class="center">【<%= User.find(req.user_id).name %>からの勤怠変更申請】</h4>
        <thead>
          <tr>
            <th rowspan = "3">日付</th>
            <th rowspan = "3">曜日</th>
            <th colspan = "4">変更前</th>
            <th colspan = "4">変更後</th>
            <th rowspan = "3">備考</th>
            <th rowspan = "3">指示者確認㊞</th>
            <th rowspan = "3">変更</th>
            <th rowspan = "3">勤怠を確認</th>
          </tr>
          <tr>
            <th colspan = "2">出社</th>
            <th colspan = "2">退社</th>
            <th colspan = "2">出社</th>
            <th colspan = "2">退社</th>
          </tr>
          <tr>
            <th>時</th>
            <th>分</th>
            <th>時</th>
            <th>分</th>
            <th>時</th>
            <th>分</th>
            <th>時</th>
            <th>分</th>
          </tr>
        </thead>
        <% end %>
        <tbody>
          <% unless (req.origin_start == req.started_at && req.origin_fin == req.finished_at) %>
              <%= fields_for "attendances[]", req do |af| %>
                <tr>
                  <td><%= req.worked_on.to_s(:date) %></td>
                  <td><%= %w{日 月 火 水 木 金 土}[req.worked_on.wday] %></td>
                  <td><%= req.origin_start.to_s(:hour) if req.origin_start.present? %></td>
                  <td><%= req.origin_start.to_s(:min) if req.origin_start.present? %></td>
                  <td><%= req.origin_fin.to_s(:hour) if req.origin_fin.present? %></td>
                  <td><%= req.origin_fin.to_s(:min) if req.origin_fin.present? %></td>
                  <td><%= req.started_at.to_s(:hour) if req.started_at.present? %></td>
                  <td><%= req.started_at.to_s(:min) if req.started_at.present? %></td>
                  <td><%= req.finished_at.to_s(:hour) if req.finished_at.present? %></td>
                  <td><%= req.finished_at.to_s(:min) if req.finished_at.present? %></td>
                  
                  <td><%= req.note %></td>
                  <td>
                  <%= af.select :edit_request_permit, 
                  {"なし" => "なし", "申請中" => "申請中", "承認" => "承認", "否認" => "否認"},
                  {}, class: "form-control" %>
                  </td>
                  <td style="width:40px;"><%= af.check_box 'change', {:checked => false}, true, false %></td>
                  <td><%= link_to '確認', "/confirmation//#{req.user_id}/#{req.worked_on}", target: :_blank, class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      
    <%= f.submit "更新", class: "btn btn-primary btn-block modal-button-space" %>
    <% end %>
		</div>
	</div>
</div>


