	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
  
			<%= form_for(@user, url: "/users/#{@user.id}/attendances/month_request", method: :patch) do |f| %>
			<% header_user_id = nil %>
			<% @month_requests.each do |month_request| %>
			
        <% if header_user_id != month_request.user_id %>
        <% header_user_id = month_request.user_id %>
				<table class = "table-bordered table-striped table-condensed">
				  <h4 class="center">【<%= User.find(month_request.user_id).name %>からの１ヵ月分勤怠申請】</h4>
          <thead>
            <tr>
              <th>月</th>
              <th>指示者確認㊞</th>
              <th>変更</th>
              <th>勤怠を確認</th>
            </tr>
          </thead>
        
        <% end %>
          <tbody>
            <% unless month_request.month_approval == "承認" %>
                <%= fields_for "month_requests[]", month_request do |af| %>
                  <tr>
                    <td><%= month_request.req_date.strftime("%-m") %>月</td>
                    <td>
                    <%= af.select :month_approval, 
                    {"なし" => "なし", "申請中" => "申請中", "承認" => "承認", "否認" => "否認"},
                    {}, class: "form-control" %>
                    </td>
                    <td style="width:40px;"><%= af.check_box 'change', {:checked => false}, true, false %></td>
                    <td><%= link_to '確認', "/confirmation/#{month_request.user_id}/#{month_request.req_date}", target: :_blank, class: "btn btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <%= f.submit "更新", class: "btn btn-primary btn-block modal-button-space" %>
      <% end %>
			</div>
		</div>
	</div>
</div>

