<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    
   <div class="modal-body">
    <table class="table table-bordered">
    <%= form_with(model:@user,url: receive_overtime_user_path(@user), local: true) do |f| %>
    <thead>
     <tr>
          <th>日付</th>
          <th>曜日</th>
          <th><%= f.label :終了予定時間%></th>
          <th><%= f.label :翌日%></th>
          <th><%= f.label :業務処理内容%></th>
          <th><%= f.label :指示者確認㊞%></th>
     </tr>
    </thead>
    
    <tbody>
     <tr>
          <th><%= @day %></th>
          <th><%= @youbi%></th>
          <th></th>
          <th></th>
          <th><%= f.text_field :note %></th>
          <th></th>
     </tr>
    </tbody>
    </table>
      <%= f.submit "送信", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
   </div>
  </div>
 </div>
</div>
</div>