<li>
  <p><%= user.name %></p>
  <p><%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" },class: "btn btn-primary" unless user.admin %></p>
  <p>
  <section>
 <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#<%=user.id%>">編集</button>
 <div id="<%=user.id%>" class="collapse">
   <div class="panel">
     <div class="panel-body">
       
       <div class="col-md-6 col-md-offset-3">
        <%= form_for(user) do |f| %>
        
         <%= f.label :名前 %>
         <%= f.text_field :name %>

         <%= f.label :メールアドレス %>
         <%= f.email_field :email %>

         <%= f.label :所属 %>
         <%= f.text_field :affiliation %>

         <%= f.label :社員番号 %>
         <%= f.number_field :employee_number %>

         <%= f.label :カード番号 %>
         <%= f.number_field :uid %>

         <%= f.label :パスワード %>
         <%= f.password_field :password %>
         
         <%= f.label :基本勤務時間 %>
         <%= f.time_field :basic_work_time %>
         
         <%= f.label :指定勤務開始時間 %>
         <%= f.time_field :designated_work_start_time %>
         
         <%= f.label :指定勤務終了時間 %>
         <%= f.time_field :designated_work_end_time %>

         <%= f.submit "送信", class: "btn btn-primary" %>
         <% end %>
       </div>
       
     </div>
   </div>
 </div>
</section>
</p>
</li>