<% provide(:title, 'ユーザー一覧') %>

 <h1>ユーザー一覧</h1>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>

<%= form_tag users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVをインポート",class: "btn btn-primary" %>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>