<% provide(:title, '勤怠表示') %>
<div>
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                         class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                         class: "btn btn-xs btn-primary" %>
      </td>
      <td>
        <br>指定勤務開始時間　<%= format_basic_work_time(@user.designated_work_start_time) %></br>
        <br>指定勤務終了時間　<%= format_basic_work_time(@user.designated_work_end_time) %></br>
      </td>
      <td colspan = "3">基本時間　<%= format_basic_work_time(@user.basic_work_time) %></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number%></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  
  <% if !@boss_notice.blank? %>
  <p><%= link_to '【所属長承認申請のお知らせ】',"/month_request_modal/#{@user.id}", remote: true ,method: :post %>
  <span class="notice-count"><%="#{@boss_notice.count}件"%>
      </span></p>
  <% elsif @user.superior %>
    <p>【残業申請のお知らせ】</p>
  <% end %>
  
  <% if !@time_change_notice.blank? %>
  <p><%= link_to '【勤怠変更申請のお知らせ】',"/edit_request/#{@user.id}/#{@first_day}", remote: true,method: :post %>
  <span class="notice-count"><%="#{@time_change_notice.count}件"%>
      </span></p>
  <% elsif @user.superior %>
    <p>【勤怠変更申請のお知らせ】</p>
  <% end %>
  
  <% if !@overtime_notice.blank? %>
  <p><%= link_to '【残業申請のお知らせ】',"/overwork_permit/#{@user.id}", remote: true,method: :post %>
  <span class="notice-count"><%="#{@overtime_notice.count}件"%>
      </span></p>
  <% elsif @user.superior %>
    <p>【残業申請のお知らせ】</p>
  <% end %>

  <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
  <%= link_to "勤怠ログ", change_log_path(@user), class: "btn btn-primary" %>
  <%= link_to "CSV出力", csv_dl_path(format: :csv), class: "btn btn-primary", method: :post %>

  <table class = "table-bordered  table-condensed table-striped">
    
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">実績</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認印</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @dates.each do |day| %>
      <% css_class = case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
    when '土'
      'text-primary'
    when '日'
      'text-danger'
    end
  %>
        <tr>
          <td>
            <%= link_to '残業申請', "/overwork_request/#{day.id}", remote: true, class: "btn btn-primary", method: :post %>
          </td>
          
        
          <td><%= day.worked_on.to_s(:date) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td> 
          <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
          <td><%= day.started_at.floor_to(15.minutes).to_s(:min) if day.started_at.present? %></td> <!--.floor_to(15.minutes)(15.minutes)15分刻みで切り捨て-->
          <td>
            <% if day.worked_on == Date.today && day.started_at.nil? %>
              <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
          <td><%= day.finished_at.floor_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>　<!-- .floor_to(15.minutes)(15.minutes)15分刻みで切り捨て-->
          <td>
            <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes),day.nextday) %>
              <% seconds = (day.finished_at - day.started_at).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.overwork_finish.to_s(:hour) if day.overwork_finish.present? %></td>
          <td><%= day.overwork_finish.to_s(:min) if day.overwork_finish.present? %></td>
          <td><%= overwork_calculation(day) if day.overwork_finish.present? %></td>
          <td><%= day.overwork_note %></td>
          <td>
            <% unless day.work_request_permit.blank? %>
            <%= "残業申請：#{u_name(day.overwork_superior)}：#{day.work_request_permit}" %>
          <% end %>
          <% unless day.edit_request_permit.blank? %>
            <%= day.work_request_permit.blank? ? "" : tag.br %>
            <%= "勤怠編集：#{u_name(day.conf_change)}：#{day.edit_request_permit}" %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_work_time(@user.basic_work_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <% @monthrequest.each do |m| %>
          勤怠申請：<%= u_name(m.boss_id) %>：<%= m.month_approval.nil? ? '未' : m.month_approval %>
          <% end %>
          <%= form_with model: Monthrequest.new, id: "my_form" do |f| %>
            <%= f.select :boss_id, @all_user.map{|t| [t.name, t.id]}, {include_blank: true}, class: "form-control validate[required]" ,id: "boss_select" %>
            <%= f.hidden_field :req_date, value: @first_day %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.submit "申請", class: "btn btn-primary btn-block" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
    
  </table>
</div>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<script>
  $(document).ready(function(){
      $("#my_form").validationEngine('attach', {
    promptPosition:"bottomLeft"
  });
  });
</script>