<% provide(:title, '残業申請') %>
<h1>残業申請</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class = "table-bordered  table-condensed table-striped overtimes">
    <%= form_with(model: @user, local: true) do |f| %>
    <thead>
     <tr>
          <th>日付</th>
          <th>曜日</th>
          <th><%= f.label :終了予定時間%></th>
          <th><%= f.label :翌日%></th>
          <th><%= f.label :業務処理内容%></th>
          <th><%= f.label :指示者確認㊞%></th>
     </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= f.text_field :note %></th>
      <th></th>
</tr>
</table>
      <%= f.submit "追加", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
    
  </div>
</div>
